.packages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.card-img-top {
  height: 150px;
}
@media only screen and (max-width: 767px) and (min-width: 601px) {
  .packages-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .packages-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 5px;
  }
}
